Source: ngterm
Section: utils
Priority: optional
Maintainer: Jayan Menon <jmoolayil@gmail.com>
Build-Depends: debhelper (>= 12),
               cmake,
               gtkmm3.0,
               vte3,
               nlohmann-json
Standards-Version: 4.5.0

Package: ngterm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A modern terminal emulator with connection management features.

